/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

bower_components/
node_modules/

src/AppBundle/Resources/public/*
src/AppBundle/Resources/apps/**/css
src/AppBundle/Resources/apps/**/js
src/AppBundle/Resources/apps/**/fonts
src/AppBundle/Resources/apps/**/images

web/media
