<div class="footer">
    <div class="pull-right">
        <strong>Intbizth</strong> &reg;
    </div>
    <div>
        <strong>Copyright</strong> Intelligence Business (thailand) &copy; 2015
    </div>
</div>
