{% if app.environment == 'prod' %}
    <script type="application/javascript" src="{{ asset('bundles/app/front/js/app.min.js') }}"></script>
    <script type="text/javascript">require(['toro/app'], function () {
            angular.bootstrap(document, ['ToroHahaFront']);
        });</script>
{% else %}
    <script type="text/javascript"
            src="{{ asset('bundles/app/front/bower_components/requirejs/require.js') }}"
            data-main="{{ asset('bundles/app/front/js/config.js') }}"
            ></script>
{% endif %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.5&appId=1115237241827404";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
