{% extends 'AppBundle:Front:variables.html.twig' %}
{% block html %}
    <!DOCTYPE html>
    <html{{ i_html|raw }} lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <title>{% block title %}{{ ui_page_get('title') }}{% endblock %}</title>
        {% block metas %}{% include 'AppBundle:Front:metas.html.twig' %}{% endblock %}
        {% block styles %}{% include 'AppBundle:Front:stylesheets.html.twig' %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="main-logo" src="{{ asset('bundles/app/front/asset/images/main-logo.png') }}" alt="balltoro.com">
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            {% block content %}{% endblock %}
        </div>

    </div>

    {% block scripts %}{% include 'AppBundle:Front:javascripts.html.twig' %}{% endblock %}
    </body>
    </html>
{% endblock %}
