{% form_theme form 'AppBundle:Admin:forms.html.twig' %}
{% from 'AppBundle:Admin/macros:buttons.html.twig' import formSubmit %}

{{ form_errors(form) }}

<div class="ui form">
    {{ form_row(form.name) }}

    {{ form_widget(form._token) }}
    {{ formSubmit(category) }}
</div>
